.form-group {
    margin-bottom: 15px;
  }
  
  input {
    margin: 0 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  button {
    margin-top: 10px;
  }
  
  p-message {
    margin-top: 10px;
  }
  ::ng-deep{
    .p-chips {
      margin:0 10px;
      height: 33.5px;
       .p-chips-multiple-container .p-chips-input-token{
        padding: 0px !important;
      }
    }
  }

  .d-flex{
    display: flex;
  }
   .align-items-center{
    align-items: center;
   } 
   .gap-1{
    gap: 10px;
   }

  .hint{
    font-size: 12px;
    color: #6c757d;
  }

  