<div class="mb-2">
<!-- search   -->
<input #searchInput class="search-input" [(ngModel)]="filterText" placeholder="Search by name or budget" />
<!-- Sort Buttons -->
<button  class="sort-btn" (click)="changeSort('budget')">Sort by Budget</button>
<button class="clear-btn" (click)="clearSearch()">Reset</button>
</div>

<p-table *ngIf="(beneficiaries$ | async) as beneficiaries; else loading"
[value]="beneficiaries | filterPipe:filterText | sortPipe:sortField:sortOrder"
[paginator]="true"
[rows]="5"
sortMode="multiple">
    
  <!-- Table Header -->
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
      <th>Technologies</th>
      <th pSortableColumn="rating">Rating <p-sortIcon field="rating"></p-sortIcon></th>
      <th *ngIf="isAdmin">Actions</th> 
    </tr>
  </ng-template>

  <!-- table -->
  <ng-template pTemplate="body" let-beneficiary>
    <tr  class="cursor-pointer">
      <td pTooltip="Show Profile" [routerLink]="['/profile', beneficiary.id]">{{ beneficiary.name }}</td>
      <td>{{ beneficiary.technologies.join(', ') }}</td>
      <td>
        <p-rating [ngModel]="beneficiary.rating" (onRate)="updateRating(beneficiary, $event.value)" 
        [disabled]="beneficiary.name === loggedInUser.name"
        ></p-rating>
      </td>
      <td *ngIf="isAdmin">
        <!-- edit btn -->
        <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-text"
                routerLink="/edit-beneficiary/{{ beneficiary.id }}"
                pTooltip="Edit Beneficiary">
        </button>
        <!-- delete btn -->
         <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text"
             (click)="confirmDelete(beneficiary)"
             pTooltip="Delete Beneficiary">
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- loading -->
<ng-template #loading>
  <p>Loading beneficiaries...</p>
</ng-template>

<p-confirmDialog></p-confirmDialog>
